# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/build
**/CMakeFiles
**/.idea
**/dist
.vscode
cmake-build-debug
.idea
**/sendEmailsLambdaHandler.zip


.idea
node_modules
.env
dist
*.log
.storage
.verdaccio
.config
.history

.esbuild
coverage
.eslintcache

.DS_Store

.vscode
!.vscode/extensions.json

.cdk.staging
cdk.out
cdk.context.json

infrastructure/
