[submodule "externals/mailio"]
	path = externals/mailio
	url = https://github.com/karastojko/mailio.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "externals/taopq"]
	path = externals/taopq
	url = https://github.com/taocpp/taopq.git
[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
[submodule "externals/cpr"]
	path = externals/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "externals/aws-lambda-cpp"]
	path = externals/aws-lambda-cpp
	url = https://github.com/awslabs/aws-lambda-cpp.git
